body, html {
    height: 100%;
}
.topImage {
    /* The image used */
    background-image: url(images/header.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.github-card {
    padding: 20px;
}

.hello {
    color: white;
    font-size: 85pt;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;

    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */

    animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;

    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    padding-right: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.fa:hover {
    color: white;
    opacity: 0.4;
}

.dev {
  color: white;
  font-size: 50pt;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);

  opacity: 0;

  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */

  animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;

  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

devFont {
  font-size: 50pt;
}


button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border-width: medium;
    border-color: white;
    color: white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 25pt;
    font-family: "Open Sans", sans-serif;
}

hr {
  display: block;
  color: white;
  margin-top: 10pt;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
