body {
  background-color: #fff;
  padding:50px;

  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;

  color: #333;
}

h1 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  font-weight: 600 !important;

  font-family: 'Crimson Pro', serif;

  text-align: center;
}

h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  font-weight: 600 !important;

  font-family: 'Crimson Pro', serif;
}

h4 {
  color: black;
  margin-bottom: -10px;
}

#links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.left {
  width: 35%;
}

.right {
  margin-left: 5%;
  width: 65%;
}

a {
  color: #428bca;
  text-decoration: none;
}

.small-text {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;

  color: #333;
}


.wrapper {
  display: flex;
  justify-content: space-between;
  width:1080px;
  margin:0 auto;
}

#headshot {
  width: 100%;
  height: auto;

  border-radius: 20px;
}



@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }

  .button {
    /* border: 2px solid #40739e; */
    /* border-radius: 3px; */
    border: none;
    cursor: pointer;
    font-weight: 500;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }

  .button {
    /* border: 2px solid #40739e; */
    /* border-radius: 3px; */
    border: none;
    cursor: pointer;
    font-weight: 500;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }

  .button {
    /* border: 2px solid #40739e; */
    /* border-radius: 3px; */
    border: none;
    cursor: pointer;
    font-weight: 500;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
